* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
/* HEADER */
header {
  height: calc(100vh - 150px);
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), no-repeat center/cover url('/assets/background.jpg');
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0px 40px;
  padding: 12px 20px;
}
.logo {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  transition: text-shadow .6s;
  color: white;
  font-size: 35px;
  text-shadow: 0px 0px 10px gray;
  padding: 10px 0px;
}
.links {
  display: flex;
  border: 1px solid white;
  border-radius: 25px;
}
.links a {
  display: inline-block;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  color: white;
  padding: 15px 22px;
  text-align: center;
  transition: 0.15s ease-in-out;
}
.links a:hover {
  color: darkcyan;
  background-color: white;
  transition: .4s;
  border-radius: 25px;
  font-weight: 600;
}
.header-content {
  color: #fff;
  font-weight: bold;
  max-width: 400px;
  margin: 180px 120px;
  text-align: left;
  animation: ease text-move 2s forwards;
  line-height: 2;
}
.header-content h1 {
  margin-bottom: 10px;
  font-size: 4rem;
  line-height: 1;
}
.header-content span {
  color: orange;
}
.header-content p {
  font-weight: 400;
}
@keyframes text-move{
  from {transform:  translateY(0px);
        opacity: 0;}
  to {transform:   translateY(-20px);
      opacity: 1;}
}
button {
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 25px;
  transition: ease .40s;
  margin-top: 30px;
}
button a {
  color: inherit;
}
button:hover {
  background-color: darkcyan;
  color: white;
  transform: scale(1.1);
}
/* HEADER - Hamburger Menu */
.open-menu, .close-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 60px;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 40px;
  right: 22px;
}
#check {display: none;}

/* SECTION 01 - PACOTES */
.section-title { 
  width: 100%;
  margin: auto;
  padding: 15px;
  text-align: center;
  color: darkcyan;
}
.section__description {
  color: gray;
  padding: 0px 200px;
  text-align: center;
  margin-bottom: 15px;
}
.ofertas {
  background-color: rgba(235, 231, 231, 0.363);
  padding: 25px;
}
.ofertas .ofertas-cards {
  margin: auto;
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ofertas .card {
  margin: 25px;
  width: 260px;
  height: 350px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 4px -1px #222;
  position: relative;
  transition: all 1s;
}
.ofertas .card:hover {
  transform: scale(1.1);
}
.ofertas .card-image {
  width: 260px;
  height: 200px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.ofertas .card-content {
  padding: 0 15px;
}
.ofertas .card-content h1 {
  font-size: 0.9rem;
}
.ofertas .card-content ul  {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}
.ofertas .card-content ul li {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  margin: 3px 0px;
  color: gray;
  font-weight: 400;
}
.ofertas .card-content li svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.ofertas .card .card-tag-top{
  position: absolute;
  background: orange;
  right: 0;
  top: 15px;
  border-radius: 8px 0 0 8px;
  padding: 5px 10px;
  box-shadow: 1px 2px 5px -2px #222;
}
.ofertas .card .card-tag-bottom {
  position: absolute;
  left: 0;
  top: 160px;
  background: darkcyan;
  border-radius: 0 8px 8px 0;
  padding: 5px 10px;
  box-shadow: 1px 1px 4px 1px #222;
}
.ofertas .card .card-tag p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffff;
}

/* SECTION 02 - SERVIÇOS */
.servicos {
  padding: 15px;
  margin: 0 40px;
}
.servicos-cards {
  display: grid;
  gap: 20px;
  padding: 35px 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
}
.servicos .card {
  width: 250px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 0 25px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.card .card-image {
  border-radius: 0 25px;
}
.servicos .card h3 {
  font-weight: bold;
  color: darkcyan;
}
.servicos .card p {
  color: gray;
  font-size: .8rem;
  text-align: center;
}
.servicos .card .card-content {
  height: 100px;
  text-align: center;
  margin-bottom: 30px;
}
.card-btn {
  background-color: darkcyan;
  color: white;
}

/* SUBSCRIBE */
.subscribe-container {
  background-color: #f5f5f5;
  height: 400px;
  padding: 50px 0px;
}
.subscribe-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  width: 80%;
  height: 300px;
  border-radius: 150px 25px 25px 25px;
  background-color: white;
}
.subscribe-content p {
  color: grey;
  font-size: 12px;
  padding: 20px;
}
.subscribe-content h2 {
  width: 100%;
  color: darkcyan;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 65px;
}
.email-subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  position: relative;
}
.sub-button {
  width: 200px;
  height: 50px;
  color: orange;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid orange;
  border-radius: 25px;
  background-color: white;
}
.sub-button:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}
form #email {
  width: 60%;
  height: 50px;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 18px;
  background: white;
  border: none;
  background-color: #f5f5f5;
}
.email-subscribe label {
  display: flex;
  position: absolute;
}
.email-subscribe label p {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  align-items: left;
  margin-right: 450px;
}

/* FOOTER */
.footer__container {
  max-width: 1170px;
  margin: auto;
  padding: 0 20px;
}
.footer {
  background-color: darkcyan;
  padding: 70px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 33%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #006666;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li a{
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer ul li a:hover {
  color: #006666;
  padding-left: 8px;
}
.footer-col p {
  color: #004c4c;
  font-weight: 400;
}

/* RESPONSIVIDADE */
@media (max-width: 1080px) {
  .servicos-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: darkcyan;
    transition: all 0.2s ease-in-out;
    border: none;
    border-radius: 0;
  }
  .links a {
    margin-top: 40px;
    padding: 10px;
  }
  .open-menu, .close-menu {
    display: block;
  }
  #check:checked ~ .links {
    right: 0;
  }
}

/* Para mobile */
@media (max-width: 480px) {
  body {
    margin-bottom: 55px;
  }
  
  header nav p {
    width: 100%;
    text-align: center;
  }
  .footer-col {
    width: 100%;
} 
}